body{
	margin:0;
	font-family: Oxygen;
	background-color: #1C6C8F;
}
/* Titres */
h1, h2, h3, h4, h5, h6{
	/*text-decoration: underline;*/
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small{
	/*color: gray;*/
	font-size: 10px;
}

/* Divers */
p{
	margin-bottom: 2%;
}

mark, del, ins, u, strong, em, abbr{
	display: inline;
}

mark{
	background-color: #00CCFF;
}

blockquote:before {
	content: "«";
}

blockquote:after {
	content: "»";
}

code{
	font-family: 'Droid Sans Mono' ;
	font-weight: bold;
	font-size: 14px;
	background-color: #E6E6E6;
	display: block;
	margin-left: 5%;
	margin-right: 5%
}

kbd{
	font-style: oblique;
	color: #B26B00;
}

/* Listes */
.sans_deco{
	list-style-type: none;
}

.puce_carree{
	list-style-type: square;
}

.no_padding{
	padding:0;
}

.no_margin{
	margin:0;
}

/* Alignement, transformation */
.a_gauche{
	text-align: left;
}

.a_droite{
	text-align: right;
}

.centrer{
	text-align: center;
}

.justifier{
	text-align: justify;
}

.uppercase{
	text-transform: uppercase;
}

.lowercase{
	text-transform: lowercase;
}

.underline{
	text-decoration: underline;
}

.alterner tr:nth-child(odd){
	background-color: red;
}

.alterner tr:nth-child(even){
	background-color: #E3DAC9;
}

/* Bordures */
.border_complete{
	border-style: solid 1px white;
}

.border_bas{
	border-bottom: solid 1px white;
}

.border_gauche{
	border-left: solid 1px white;
}

.border_droite{
	border-right: solid 1px white;
}

.border_haut{
	border-top: solid 1px white;
}

/* Liens */
#navbar ul li:hover { 
	background-color: #B77749;
}
#navbarAccueil li:hover { 
	background-color: #001927;
}


#navbar a, footer a{
	text-decoration: none;
	color:white;
}

/* Boutons */
.btn{
	font-size: 14px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	padding: 10px;
}

.btn:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.btn:active{
	cursor: pointer;
}

.btn-lg{
	width:250px;
}

.btn-sm{
	padding:0px;
}

.btn-rouge{
	font-size: 14px;
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;
	padding: 10px;
}

.btn-rouge:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}

.btn-bleu{
	font-size: 14px;
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
	padding: 10px;
}

.btn-bleu:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
	cursor:pointer;
}

.btn-vert{
	font-size: 14px;
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;
	padding:10px;
}

.btn-vert:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
}

.btn-ft{
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 10px;
	border:none;
}

.btn-xxlg{
	width:100%;
}

.btn-fcy{
	text-decoration:none; text-align:center; 
	padding:28px 65px; 
	border:dashed 2px #004F72; 
	-webkit-border-radius:50px;
	-moz-border-radius:50px; 
	border-radius: 50px; 
	font:24px Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#E5FFFF; 
	background-color:#3b8ac7; 
	background-image: -moz-linear-gradient(top, #3b8ac7 0%, #1961a5 100%); 
	background-image: -webkit-linear-gradient(top, #3b8ac7 0%, #1961a5 100%); 
	background-image: -o-linear-gradient(top, #3b8ac7 0%, #1961a5 100%); 
	background-image: -ms-linear-gradient(top, #3b8ac7 0% ,#1961a5 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1961a5', endColorstr='#1961a5',GradientType=0 ); 
	background-image: linear-gradient(top, #3b8ac7 0% ,#1961a5 100%);   
	-webkit-box-shadow:13px 11px 11px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 13px 11px 11px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:13px 11px 11px #bababa, inset 0px 0px 1px #ffffff;  
}

.btn-fcy:hover{
	background-color: #1E4564;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1E4564), color-stop(1, #3b8ac7) );
	background:-moz-linear-gradient( center top, #1E4564 5%, #3b8ac7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1E4564', endColorstr='#3b8ac7');
}



/* Header et Jumbotron */
.header {
	padding: 1%;
	padding-left: 150px;
}


#content .jumbotron{
	background-color: #CCCCCC;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
	padding: 150px;
	border-radius: 6px;
}

.jumbotron p{
	font-size: 24px;
}