.ligne{
	font-size: 0;
}
@import "grille";

.col{
	display: inline-block;
	word-wrap: break-word;
	@include col-base;
}

.col:last-child{
	margin-right: 0;
}

/* span et offset pour desktop */
@media screen and (min-width: 1451px){
	@include genere-span;
	@include genere-offset;
}

/* span et offset pour tablette */
@media screen and (min-width:481px) and (max-width:1450px){
	@include genere-span;
	@include genere-offset;
}

/* enlève span et offset pour smartphone */
@media screen and (max-width:480px){
	@include genere-span-sp;
	@include genere-offset-sp;
}


.nomarginright{
	margin-right:0;
}

.nomarginleft{
	margin-left:0;
}

