@import url(http://fonts.googleapis.com/css?family=Oxygen);

html, body{
	height: 100%;
}

#bandeau, footer{
	background-color: #013658;
	color: white;
}

#navbar{
	background-color: #001927;
	color: white;
}

li{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1rem;
}

#content{
	position: relative;
	margin-top:2%;
	padding-top:2%;
	padding-bottom:2%;
	background-color: #F1EFE2;
	margin-bottom:2%;

	-moz-box-shadow: 0px 0px 5px 1px #656565;
	-webkit-box-shadow: 0px 0px 5px 1px #656565;
	-o-box-shadow: 0px 0px 5px 1px #656565;
	box-shadow: 0px 0px 5px 1px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

h3{
	padding-left: 2%;
	padding-bottom:2%;
	border-bottom: 2px solid lightgray;
}

.bleu{
	color: #001927;
}


footer{
	font-size: 12px;
	padding-top: 1%;
	padding-bottom: 1%;
	border-top: 5px solid #001927;

}

a{
	text-decoration: none;
}


#resu ul li{
	display:inline-block;
	overflow: hidden;
	-o-text-overflow: ellipsis; /* pour Opera 9 */
	text-overflow: ellipsis;
}

#resu ul li img{
	max-height:100px;
	padding-left:15px;
	float:left;
}

/* --------------------------  PAGE DOCUMENT DETAIL -------------------- */


.titre_doc{

	font-weight: bold;
	font-size: 2em;
	text-align: center;
	text-decoration: underline; 
}

.img_detail{

	display:inline-block;
	padding-left: 15%;
	max-width: 38%;
	

	
}

.p_detail{

	
	padding-left: 20px;
	vertical-align: top;
	display: inline-block;
	text-align: justify;
	padding-right: 20px;
	white-space: normal;
	width: 33%;
}

.img_detail_document{
	width: 100%;
}

#aff_plus{
	visibility: hidden;
}



/*
	Affichage tablette
	*/
	@media screen and (min-width:481px) and (max-width:1450px){
		#resu ul li{
			display: block;
			height:150px;
			min-width:80%;
		}

		#resu ul li img{
			max-height:150px;
			padding-left:15px;
			float:left;
		}

		#search, #type{
			text-align: center;
			font-size: 24px;
		}

		#resu ul{
			padding-left:10%;
		}

		#content{
			margin-left:10%;
			max-width: 80%;
		}

		#aff_plus{
			visibility:visible;
			text-align: center;
			background-color: #E8E8E8;
			border: solid 1px #ADC3C9;
		}

		.p_detail{
			padding-left: 5%;
			text-align: justify;
			padding-right: 5%;
			white-space: normal;
			width: 90%;
		}

		.img_detail{

			text-align: center;
			max-width: 40%;
			padding-left: 30%;
			padding-right: 30%;
		}

		#resu{
			padding-left:5%;
		}
	}

/*
	Affichage smartphone
	*/

	@media screen and (max-width:480px){
		li {
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 1rem;
			display: inline-block;
		}

		header, #bandeau, #navbar, footer{
			width:100%;
		}

		#navbar ul li{
			width:50%;
			vertical-align: middle;
		}

		#content{
			margin:0;
			border-radius:0;
		}

		#resu ul li{
			display: block;
			height:100px;
		}
		#search, #type{
			text-align: center;
			font-size: 24px;
		}

		#valRecherche{
			width: 75px;
		}

		#aff_plus{
			visibility:visible;
			text-align: center;
			background-color: #E8E8E8;
			border: solid 1px #ADC3C9;
		}

		#genre_doc{
			display: list-item;
			list-style-type: square;
		}

		.p_detail{
			padding-left: 5%;
			text-align: justify;
			padding-right: 5%;
			white-space: normal;
			width: 90%;
		}

		.img_detail{

			text-align: center;
			max-width: 40%;
			padding-left: 30%;
			padding-right: 30%;
			

			
		}
	}